#wrap{
    text-align: center;
}

html {
    background: linear-gradient(white 25%,#E9F1F7);
}

.header2{
    float: right;
    padding:12px;
}
.header3,  .header4{
   float: right;
   padding: 1px;
   }
h1{
    font-size: 4.4rem;
    font-weight:900;
    color: rgb(50, 205, 86);
    font-family:Verdana, sans-serif;
}

.search_bar {
    display: flex;
    padding: 8px 8px;
    border: 2px solid #0fdf8a;
    border-radius: 6px;
    margin: 60px 360px 0px 360px;
}
#search{
    width: 500px;
    height: 15px;
    padding: 22px 2px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: black;
    outline: none;
}
input::placeholder{
    font-size: 20px;
    color: lightgray;
}
.mic_photo{
    position: relative;
    top: 7px;
    left: 150px;
}

.nav{
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.covid1{
    display:inline-block
}
.nav_icon{
    background-color: #f5f8fc;
    border-radius: 22px;
    margin: 30px 30px 10px 30px;
    padding: 10px;
    text-align: center;
}
.nav_icon_text{
    color: lightgray;
    font-weight: bold;
    font-size: 14px;
}

.weather_text{
    font-weight: 700;
}

.weather_now{
    background-color: white;
    width: 630px;
    height: 117px;
    text-align: left;
}

.weather_now2{
    padding: 0px 100px 0px 0px;
}
.weather_now3{
    padding: 0px 0px 0px 50px;
}
.weather_cate{
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}
.weather_day{
    background-color: white;
    padding-top: 10px;
}
.h3 {
    font-weight: 900;
    font-size: large;
    float: left;
    position: relative;
    left: 15px;
}
.p {
    color: gray;
    font-weight: bold;
    float: left;
    position: relative;
    left: 25px;
    top: 1px
}
.track{
    position: relative ;
    right: 185px;
    bottom: 4px;
}
.on{
    float: right;
    position: relative;
    right: 10px;
    bottom: 3px;
}
.weather_cate1{
    background-color: white;
}
.weather_table{
   font-size: 14px;
   font-weight: bold;
   color: rgb(96, 96, 96);
   position: relative;
   right: 65px;
}
.tr3{
    background-color:rgb(220, 232, 237);
}
.td3_1{
    padding: 11px;
    border: 3px solid white;
}
.weather_list_table{
    width: 600px;
}
.tr4, .tr5,.tr6, .tr7{
    background-color: white;
    font-weight: 600;
}


.covid{
    background-color: white; 
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.covid1{
    display: inline-block;
}
.covid2{
    display: inline-block;
}
.covid_pic{
    position: relative;
    right:146px;
    top:14px;
}
.covid_19{
    font-weight: 900;
    position: relative;
    right:150px;
    top:5px;
}
.covid_19_2{
    font-weight:light;
    color: gray;
    position: relative;
    right:148px;
    bottom: 3px;
}
.ox_pic{
    position: relative;
    left:53px;
    top:17px;
}
.covid_fact{
    font-weight: 900;
    position: relative;
    left:50px;
    top:5px;
}
.covid_fact_2{
    font-weight:light;
    color: gray;
    position: relative;
    left:30px;
    bottom: 3px;
}

.gover{
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.gover_pic{
    position: relative;
    top: 2px;
}
.years{
    color: lightgrey;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}
.gover_text{
    color: gray;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
}
.useful{
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.naver2_pic{
    position: relative;
    right:40px;
}
.useful_text{
    color: gray;
    font-weight: 500;
    position: relative;
    bottom: 15px;
    right: 35px;
}
.appuse_pic{
    position: relative;
    bottom: 3px;
    left: 40px;
}

.webtoon1{
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 800;
    font-size: 18px; 
}
.webtoon_text{
    position: relative;
    right: 255px;
    bottom: 9px;
}
.under_pic{
    position: relative;
    left: 240px;
}
.popular{
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.popular_top{
    background-color: white;
}
.popular_top_text{
    font-weight: 900;
    font-size: 18px;
    position: relative;
    right: 135px;
    bottom: 2px;
}
.management_pic{
    position: relative;
    left: 135px;
    top: 10px
    
}
.popular_list{
    height: 150px;
}
.popular_list2{
    padding-top: 30px;
}

.movie{
    background-color: #F5F7F9;
    width:265px;
}
.bboom{
    background-color: #F5F7F9;
    width:265px;
}
.webtoon{
    background-color: #F5F7F9;
    width:265px;
}
.increasing{
    background-color: #F5F7F9;
    width:265px;
}
.movie_pic{
    position: relative;
    right: 70px;
    top: 1px;
}
.bboom_pic{
    position: relative;
    right: 74px;
    top: 2px 
}
.webtoon_pic{
    position: relative;
    right: 70px;
    top: 1px;
}
.increasing_pic{
    position: relative;
    right: 57.5px;
    top: 1px;
}
.movie_text{
    position: relative;
    right: 70px;
    bottom: 7px;
}
.bboom_text{
    position: relative;
    right: 70px;
    bottom: 7px;
}
.webtoon_text2{
    position: relative;
    right: 70px;
    bottom: 7px;
}
.increasing_text{
    position: relative;
    right: 55px;
    bottom: 7px;
}
.diraction_pic1, .diraction_pic3{
    position: relative;
    left: 70px;
    top: 2px
}
.diraction_pic2{
    position: relative;
    left: 78px;
    top: 2px
}
.diraction_pic4{
    position: relative;
    left: 62px;
    top: 2px
}

.alram {
    background-color: white;
    width: 630px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.alram1{
    position: relative;
    right:120px;
    top: 2px;
}
.alram2{
    position: relative;
    right: 122px;
    bottom: 22px;
    font-weight: 600;
}
.alram3{
    position: relative;
    left: 110px;
    bottom: 14px;
}

.line{
    color: lightgray;
}

.footer1{
    padding: 20px 0px 0px 0px;
}
.footer2{
    padding: 8px;
}
.footer_text {
    font-size: 14px;
    text-decoration: none;
}

.last_naver{
    font-family:Verdana, sans-serif;
    font-weight: bold;
    color:lightgray;
}