@charset "UTF-8";
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

body {
  background-color: #fdefee;
}

header {
  padding: 40px;
  font-size: 2.5rem;
  color: #b37371;
  text-align: center;
  font-weight: bolder;
}

.main {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.input input {
  padding-left: 15px;
  width: 600px;
  height: 50px;
  border: none;
  font-size: 1em;
  outline: none;
}

.input #addbtn {
  color: white;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  border-radius: 0;
  background: #eecbca;
}

.listBox {
  width: 650px;
  padding: 15px;
  margin: auto;
  background-color: white;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listBox input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 15px;
}

.listBox input[type="checkbox"]:checked {
  accent-color: #eecbca;
}

li {
  list-style: none;
  padding-left: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.fix {
  margin-left: auto;
  margin-right: 5px;
}

.fix,
.Del {
  background-color: #fdefee;
  color: #b37371;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.btnBox {
  display: flex;
  align-items: center;
}

#Delbtn {
  width: 100px;
  background-color: #b37371;
  font-weight: bold;

  color: white;
  margin-left: auto;
}

button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
