body{
    background-color: rgb(199, 235, 235);
}

header{
    text-align: center;
}
h1{
    font-size: 50px;
}
.todo{
    width: 500px;
    padding: 10px;
    border: 3px solid rgb(104, 195, 209);
    font-size: 20px;
}

main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 50%;
}


button{
    border-radius: 10%;
}
footer{
    margin-left: 50%;
}

/* 체크박스 크기 설정 */
.list-checkbox {
    margin-right: 15px;
    transform: scale(1.5);
}

/* 새로운 list 생성시 줄 간격 제공 */
div.list-item {
    margin-bottom: 20px;
    border: 2px solid rgb(211, 195, 195);
    background-color: white;
}


.list-button{
    margin-left: 5%;
}
/* 출력되는 list 글씨 크기 설정 */
.list-sentence {
    font-size: 20px;
}

.foot{
    font-size: 15px;
    
}

.enter_button{
    font-size: 20px;
}