* {
    list-style: none;
}

html {
    background-color: #101820;
    text-align: center;
}

.header {
    font-style: italic;
    color: #FEE715;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #6d683a;
}

.article {
    text-align: center;
}

.inputItem {
    background-color: #101820;
    margin:auto;
    color: #FEE715;
    border: 1px solid #FEE715;
    width: 40%;
    height: 35px;
}

#submit {
    background-color: #FEE715;
    margin: auto;
    color: #101820;
    width: 30px;
    height: 30px;
    
}

.showList {
    background-color: #FEE715;
    margin: auto;
    color:#101820;
    width: 45%;
}

.option {
    display: flex;
    justify-content: flex-end;
    width: 68%;
}

#allClick {
    background-color: #FEE715;
    margin: auto;
    color: #101820;
    height: 30px;
}

#delete {
    background-color: #FEE715;
    margin-left: 5px;
    color: #101820;
    height: 30px;
}

#allList {
    background-color: #101820;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #FEE715;

}

.edit, .save {
    
    background-color: #FEE715;
    margin-right: 5px;
    color: #101820;
    
}

.content {
    color: #FEE715;
    margin-right: 10px;
}

#list {
    display: flex;
    
}

#btn {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
}

#listItem {
    width: 100%;
}

#allList {
    border: 2px solid;
    border-image: linear-gradient(to bottom right, #FFC107, transparent 30%, transparent 50%, #ff0000c8 80%, transparent 100%) 1;
    border-image-slice: 1;
}

