html {
    background-color: #f0e6db81;
}

body {
    font-family: inherit;
    font-size: large;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

#todolist {
    color: #b68181;
    text-shadow: 5px 0 #543b3b49;
    text-align: center;
    font-weight: bolder;
}

#todo_container {
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 50px;
    border: 2px solid #b68181;
    border-radius: 8px;
    border-style: dashed;
    background-color: #ece0d3;
}

.container {
    
    justify-content: center;
    align-items: center;
  
}

.input-container{
    display: flex;
}

#taskInput {
    flex: 1;
    color: #805a5a;
    font-weight: 600;
    font-family: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 20px;
    
}

#taskInput:focus {
    outline: none;
    border: 1px dashed #674a4acb;
  }

input::placeholder {
    color: #543b3b92;
}

#enter_button {
    color: #f0e6db;
    font-family: inherit;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    vertical-align: middle;
    background-color: #b681817a;
    border-radius: 20px;
    border: none;
}

#enter_button:hover,
#enter_button:active {
    background-color: #b68181;
}

#taskList {
    list-style-type: none;
    font-family: inherit;
    font-size: medium;
    font-weight: 500;
    background-color: #ffffff95;
    color: #705050;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5px;
    border-radius: 10px;
    
}

#taskList li {
    
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    
}

#taskList li input[type="checkbox"] {
    margin-right: 10px;
}

#taskList li button {
    margin-left: auto;
    margin-right: 10px;
    background-color: #b681817a;
    color: #f0e6db;
    font-family: inherit;
    vertical-align: baseline;
    border-radius: 20px;
    border: none;
    padding: 5px;
      
  }

  #taskList li button:hover,
  #taskList li button:active {
      background-color: #b68181;
  }

#todo-selectbutton {
    font-family: inherit;
    text-align: center;
    margin-top: 10px;
}

#todo-selectbutton button {
    font-family: inherit;
    margin-right: 5px;
    background-color: #b681817a;
    color: #f0e6db;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

#todo-selectbutton button:hover,
#todo-selectbutton button:active {
    background-color: #b68181;
}


