h1{
    color: #f199bc;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    }
/* 제목 꾸미기 */
    .click {
    background-color: #f199bc;
    color: #ffffff;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    }

    .click:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    }

    .click:active {
        transform: scale(1.5);
    }
/* 클릭버튼 꾸미기*/

    #to_Do {
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
/*검색바 꾸미기*/

    #things {
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
/*입력받은 할 일 꾸미기*/

    body { 
        background-color: rgb(247, 240, 163);
    }
/*배경색깔 지정*/

    input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #f199bc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s ease-in-out;
    }
    /*체크박스 꾸미기*/
    input[type="checkbox"]:checked {
    background-color: #f199bc;
    }
    /* 체크박스 체크 상태 스타일 */
    input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    /* 체크박스 커스텀 체크 표시 */


    #enter {
    text-align: center;
    }

    #clickdiv {
    text-align: center;
    }

    #todo_list {
    text-align: center;
    }
    /*위치 조정*/