html {
	height: 100%;
}

header {
    height: 200px;
}

main {
    min-height: 460px;
    width: 600px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 8px;
}

footer {
    height: 150px;
}
.todo-wrapper {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.todo-box {
    width: 600px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.todo-input {
    display: flex;
    flex: 10;
    height: 38px;
    padding-left: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.todo-item {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 2rem;
    font-size: 17px;
}

.checkbox {
    position: relative;
    top: 13px;
    left: 10px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
    cursor: pointer;
}

.item {
    height: 45px;
    border-radius: 8px;
}

.text {
    position: relative;
    top: 12px;
    left: 10px;
}

.corBtn {
    position: relative;
    top: 8px;
    margin-right: 10px;
    float: right;
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 50px;
}

.delBtn {
    position: relative;
    top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 50px;
}

#enter {
    position: relative;
    background-color:rgb(187, 209, 248);
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

.item-button {
    position: relative;
    left: 415px;
}

.settings {
    position: absolute;
    padding-top: 20px;
    right: 430px;
}

#select-all {
    background-color: rgb(143, 182, 254);
    height: 35px;
    width: 80px;
    border: 1px solid;
    border-radius: 8px;
}

#deselect-all {
    background-color: rgb(143, 182, 254);
    height: 35px;
    width: 80px;
    border: 1px solid;
    border-radius: 8px;
}

#delete-select {
    background-color: rgb(143, 182, 254);
    height: 35px;
    width: 80px;
    border: 1px solid;
    border-radius: 8px;
}

#delete-all {
    background-color: rgb(143, 182, 254);
    height: 35px;
    width: 80px;
    border: 1px solid;
    border-radius: 8px;
}