body{
    background: linear-gradient(to bottom,white,rgb(237, 243, 253));
}

.bold_text{
    font-weight: bold;
}
.img_btn{
    border: none;
    border-radius: 15px;
    background-color: rgb(237, 243, 253);
}
.btn_txt>button{
    padding: 10px;
}
.btn_txt>p{
    color: rgb(201, 204, 209);
    font-size: 13px;
    font-weight: 900;
}

/* upside bar */
.upside_bar{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.upside_bar_right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
        /*upside menu*/
#upside_menu{
    border: none;
    border-radius: 10px;
    background-color: white;
}
        /*upside qr*/
#upside_qr{
    color: black;
    font-size: 13px;
}

/* center box */
.center_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

    /* upside box */
.upside_box{
    text-align: center;
    margin-bottom: 150px;
}
        /* search bar */
.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    border: 2px solid rgb(114, 200, 114);
    border-radius: 7px;
    background-color: white;
    padding-top: 10px;
    padding-right: 5px;
    margin-top: 20px;
}
            /*search input*/
#search_input{
    border:none; 
    color:black;
    outline:none;
    background-color:white;
    padding-bottom: 12px;
    padding-left: 10px;
    font-weight: 900;
}
#search_input::placeholder{
    color: rgb(201, 204, 208);
    font-weight: 900;
}
            /*search link*/
.search_link{
    padding-top: 5px;
    padding-right: 10px;
}
        /*option*/
.option{
    margin-top: 30px;
}
            /*option bar up*/
.option_bar_up{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
            /*option bar down*/
.option_bar_down{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /* middle box*/
.middle_box{
    width: 550px;
    margin-bottom: 50px;
}
.middle_box>div{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}
        /*today*/
.today{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
        /*today left*/
.today_left{
    display: flex;
    flex-direction: row;
}
#today_left_img{
    margin-top: 10px;
}
        /*today left text*/
#today_left_text_up{
    width: 150px;
    color: black;
    font-weight: bold;
}
#today_left_text_down{
    width: 150px;
    color: black;
    font-size: 13px;
    margin-top: -15px;
}

        /*week*/
            /*week upside*/
.week_upside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding-top: 10px;
}
.week_upside_left{
    display: flex;
    flex-direction: row;
}
#week_upside_left_txt1{
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    padding-bottom: 5px;
}
#week_upside_left_txt2{
    font-size: 14px;
    color: gray;
    margin-right: 5px;
    padding-top: 6px;
}
#week_gps{
    padding-top: 20px;
}
#week_arrow{
    transform:rotate(270deg)
}

            /*week menu*/
.week_menu{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}
.week_menu_origin{
    margin-right: 5px;
    background-color: rgb(238, 241, 246);
    font-weight: bold;
    font-size: 14px;
    color: rgb(118, 109, 109);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#week_menu_clicked{
    margin-right: 5px;
    background-color: rgb(141, 161, 195);
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

            /*week day*/
.week_day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
                /*week day day*/
.week_day_day{
    text-align: center;
}
.week_day_deg{
    font-weight: bold;
    font-size: 14px;
    line-height: 0px;
}
#week_day_deg_line{
    color: rgb(157, 147, 147);
    font-size: 13px;
    line-height: 10px;
}
.week_day_txt{
    font-weight: bold;
    font-size: 14px;
    color: rgb(118, 109, 109);
    line-height: 5px;
}
#today_txt{
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    background-color: rgb(118, 109, 109);
    color: white;
    line-height: 20px;
    margin-top: 8px;
}
#week_day_img_rain{
    margin-top: 6px;
}

            /*left right*/
.left_right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
                /*side box*/
.side_box_up{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -20px;
}
.side_box_up>p{
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}
.left_right_down{
    font-weight: 500;
    font-size: 14px;
}
#border_line{
    border: 1px solid rgb(238, 241, 246);
    height: 50px;
    margin-left: 150px;
    margin-right: 10px;
}

            /*anniversary*/
.anniversary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.anniversary>p{
    color: rgb(118, 109, 109);
}
#anniversary_bold{
    font-weight: bold;
    margin-left: 5px;
}

            /*app*/
.app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.app_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#app_img{
    margin-right: 7px;
}
.app_left>p{
    font-size: 12px;
    color: rgb(118, 109, 109);
}
#app_bold{
    font-weight: bold;
    color: black;
    margin-left: 5px;
}
#app_button{
    background-color: white;
    border-color: aqua;
    color: rgb(16, 140, 207);
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

            /*webtoon*/
.webtoon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#webtoon_bold{
    font-weight: bold;
    font-size: 15px;
}
#webtoon_arrow{
    transform:rotate(90deg)
}

            /*popular*/
.popular{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.popular_upside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.popular_upside>p{
    color: rgb(118, 109, 109);
    font-size: 12px;
}
#popular_upside_bold{
    font-weight: bold;
    color: black;
    font-size: 15px;
}
.popular_option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popular_option_box{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 241, 246);
    margin-left: 5px;
    margin-bottom: 5px;
}
.popular_option_box_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.popular_option_box_left>p{
    color: rgb(125, 121, 121);
    margin-left: 5px;
}

            /*update*/
.update{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.update_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.update_left>p{
    font-size: 13px;
    margin-right: 5px;
}
#notice{
    color: green;
    background-color: none;
    border-radius: 10px;
    border: 1px solid green;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

    /* down box*/
.down_box{
    text-align: center;
}
        /*link box*/
.link_box{
    font-size: 13px;
    margin-bottom: -35px;
}
            /*link down*/
.link_down{
    padding-top: 5px;
}