@charset "UTF-8";
@font-face { font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic.eot');
  src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');}


* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: NanumGothic, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:-1px
}

body {
  background: linear-gradient(white 15%,#EFF2F8);
}

.search {
  position: relative;
  display:flex;
  border: 2px solid #1aed79;
  border-radius: 4px;
  justify-content:space-between; 
  height: 55px;
  align-items: center;
  color: lightgray; 
  margin: 50px 450px 0px 450px;
}

#search-input{
  margin-left: 20px;
  font-size: 17px;
  border: none;
  outline: none;
}

#search-input::placeholder {
  color: lightgray;
}

.menutablerow1 td, .menutablerow2 td {
  position: relative;
  text-align: center;
  vertical-align: center;
  font-size: 11px;
  width: 25%;
  color: rgb(153, 153, 153);
  height: 35px; width: 100px;
}

.menutableImg{
  height: 30px;
}

.overlay {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; height: 50px;
  background-color: #F4F8FA;
  border-radius: 40%;
  z-index: -1;
}

.mainbackground {
  background-color: white; 
  margin: 0px auto 10px;
  display: flex;
  width: 580px; 
  position: relative;
  justify-content:space-between;
}

.weatherbox {
  display: flex;
  background-color: #F4F6FC;
  margin-left: 5px; height: 32px;
  align-items:center;
  padding: 5px 10px 5px 10px;
  font-size:small;
  border-radius: 3px;
}

.useapp {
  border: 1.5px solid #4E99DF;
  width: 80px;
  height: 35px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 13px;
  color:#4E99DF;
  border-radius: 3px;
  margin: auto 20px;
}

.notice {
  border: 1.5px solid #44D672;
  color:#44D672;
  width: 60px;
  height: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 13px;
  border-radius:35%/100%;
  margin: auto 20px;
}