body{
    margin: 0;
    font-family: 'Source Sans Pro';
}

a{
    text-decoration: none;
    color:white;
}

.OD {
    color:white;
    font-weight: bolder;
}

.navbar {
    display: flex;
    /* 한줄에 나란히 */
    justify-content: space-between;
    /* 스페이스 사이사이에  */
    align-items: center;
    background-color: #0078D4; 
    padding: 8px 12px;
    /* 너무 벽에 붙어있음 */
}

.navbar_logo{
    font-size:24px;
    color:white
}

.logo_image {
    color:white;
    /* display: flex; */
}

.navbar_search {
    display: flex; 
    list-style: none;
    padding-left: 0; 
    padding-right: 0;
    /* 정중앙 아닐때사용 */
}

#search_logo {
    border: 0.5px solid #005A9E;
    vertical-align: middle;
    height: 40px;
    background-color: #005A9E;
    color:white;
}

#search_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_icons li:hover {
    background-color: #005A9E;
    border-radius: 4px; 
}

/* .menuBar {
    width: 100%;
    height: 100vh;
} */

.side_nav {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color:  #F5F5F5;
    padding: 20px 20px;
}

.basicMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px; /
    /* display: inline; */
}

.basicMenu li a {
    display: block; /* 세로정렬 */
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.basicMenu li a:hover {
    background-color: #E0E0E0; 
    border-radius: 4px; 
}

.name {
    display: block;
    margin-bottom: 20px; /* .basicMenu와의 간격 */
}

.btn_groups {
    margin-left: 220px;
    margin-top: 20px;
}

.btn_groups li:hover{
    background-color: #E0E0E0; 
    border-radius: 4px; 
}

.btn_groups .btn-group button {
    background-color: white; 
    vertical-align: middle;
    height: 40px;
    color: black;
    border: solid 0.5px white;
}

.btn_groups .btn-group button .recent_button:hover {
    background-color: #E0E0E0; 
    border:solid 0.5px #E0E0E0 ;
    border-radius: 4px;
}

.recent {
    font-size: 24px;
    font-weight: bolder;
}

.recent_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt1 {
    background-color: white;
    border:solid 0.5px gray;
    border-radius: 7px;
    font-weight:lighter;
}

.bt2 {
    background-color: #F5F5F5;
    border:solid 2px #005A9E;
    border-radius: 7px;
    font-weight:lighter;
}

.bt1:hover{
    background-color: #F5F5F5;
}

.upload{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*중앙*/
    color: gray;
}

@media screen and (max-width: 768px) {
    .navbar_search {
      display: none;
    }

    .side_nav {
        display: none;
    }

    .btn_groups {
        margin-left: 0; /*왼쪽 여백!!!!!!!!!!! */
    }
}