body{

    background-image: linear-gradient(to bottom, white, rgb(242,245,247));
    /* background-color: #f4f6f8; */
}

/* div{
    background-color: white;
    width: 400px;
    margin: auto;
} */

/* section{
    display: inline-block;
    width: 500px;
    background-color: white;
} */


.menu{
    position: relative;
}

/* 오른쪽으로 옮기기 */
.header_right{
    position: absolute;
    right: 0;
}

/* 전체 가운데 정렬 */
main, footer{
    text-align: center;
}

/* 테이블 가운데 정렬 */
table{
    margin-left: auto;
    margin-right: auto;
}

/* 검색창 부분 모양 만들기 */
.search_bar{
    border: 2px solid rgb(1,199,91);
    background-color: white;
    width: 600px;
    height: 40px;
    margin: auto;
}
.search_right{
    position: absolute;
    right: 0px;
    
}
/* 뒤에 배경이랑 자연스럽게 하기 위해서 outline none */
.search_box{
    width:400px;
    height:40px;
    font-size:20px;
    background-color: transparent;
    border: 0px;
    outline:none;
}

.pan{
    width: 500px;
}
/* inline-block 크기, 색 조절 위해 사용 */
.weather_up{
    display:inline-block;
    width: 530px;
    height: 60px;
    background-color: white;
    
}
/* 위치는 전부 가운데 정렬 한 뒤에 좌우 반대로 된거 건드려서 설정 */
.weather_simple{
    position: relative;
    right: 20%;
}
.now_brod{
    position:relative;
    left: 20%
}

.weather_down{
    display:inline-block;
    width: 530px;
    height: 250px;
    background-color: white;
}
.seoul{
    position: relative;
    right: 150px;
}
.weather_index{
    position: relative;
    right: 40px;
}
/* 테두리 둥글게 */
.index1{
    display:inline-block;
    background-color: rgb(243,246,252);
    border-radius: 5%;
}
.index2{
    display:inline-block;
    background-color: rgb(119,149,205);
    border-radius: 5%;
}
.weather{
    width: 500px;
    
}
#today{
    background-color: rgb(120,123,131);
    border-radius: 15%;
}
.weather_all{
    display: inline-block;
    width: 530px;
    background-color: transparent;
}
/* 가운데 정렬 vertical-align: middle; */
.covid0{
    display: inline-block;
    width: 530px;
    background-color: white;
}
.covid_ox{
    position: relative;
    right: 45px;
    vertical-align: middle;
}
.covid_ox1{
    position: relative;
    right: 115px;
}
.covid_pic{
    position:relative;
    left: 20px;
    vertical-align: middle;
}
.covid_pic1{
    position:relative;
    left: 20px;
}


.government1{
    display: inline-block;
    width: 530px;
    height: 60px;
    background-color: white;
}
.government{
    position: relative;
    margin: auto;
    vertical-align: middle;
}
.government2{
    position: relative;
    line-height: 60px;
    
}

.use_naver{
    display: inline-block;
    width: 530px;
    background-color: white;
}
/* 이미지 위 아래 가운데 정렬 하기 위해서 */
.button{
    vertical-align: middle;
}
#use_naver{
    line-height: 60px;
}
.use_app{
    vertical-align: middle;
}

.webtoon_block{
    display: inline-block;
    width: 530px;
    height: 40px;
    background-color: white;
}
.webtoon_left{
    position: relative;
    right: 230px;
    line-height: 40px;
}
.webtoon_right{
    position: relative;
    left: 215px;
    line-height: 40px;
}

.pan_set{
    display: inline-block;
    width: 530px;
    background-color: white;
}
.pan_left{
    position: relative;
    right: 115px;
}
.pan_right{
    position:relative;
    left: 110px;
}
/* .pan_table{
    background-color: gray;
} */
.pan_left1{
    position: relative;
    right: 10px;
    background-color: rgb(245,247,249);
}
.movie, .bboom, .webtoon, .economic_pan{
    vertical-align: middle;
}
.pan_right1{
    background-color: rgb(245,247,249);
}
/* .block{
    background-color: beige;
} */
/* 글 부분 세로 가운데 맞추기 위해서 */
.pan_word{
    line-height: 30px;
}

.notice_block{
    display: inline-block;
    width: 530px;
    height: 60px;
    background-color: white;
}
.notice_left{
    position: relative;
    right: 115px
}
.notice{
    vertical-align: middle;
}
.notice1{
    line-height: 60px;
}
.notice_right{
    position:relative;
    left: 110px;
}