.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quick_menu_list {
    width: 352px;
    height: 152px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.qml_item {
    width: 88px;
    height: 76px;
    list-style: none;
    text-align: end;
}

ITEM {
    widht: 58px;
    
}

.shs_text {
    width: 48px;
    height: 15px;
}

.container_space {
    height: 10%;
}

.aside {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: left;
}
.container_space2 {
    height: 20%;
}

.item1 {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.item2 {
    margin-right: 5px;
}

.item3 {
    margin-right: 5px;
}

.item5 {
    color: #05B855;
    font-size: 50px;
    font-weight: bolder;
    margin: 0 auto;
    text-align: center;
}

.container_stack {
    position: relative;
}


.stack-item + .stack-item {
    margin-right: 10px;
}

.stack1 {
    border-color: #05B855;
    width: 528px;
    height: 52px;
}

